<div class="container">
  <div class="row">
    <div class="col-12 text-center my-4 style">
      <h1>TOPAZ FZE</h1>
    </div>
  </div>
  <div class="dashboard">
    <div class="text-center">
      <h2>Tickets Card Status</h2>
    </div>
    <!-- Template 1 content -->
    <app-data-cards></app-data-cards>
    <div class="text-center">
      <h2>Tabular Status</h2>
    </div>
    <app-support-table></app-support-table>
    <div class="text-center">
      <h2>Chart Status</h2>
    </div>
    <app-tickets-status-chart></app-tickets-status-chart>
  </div>
</div>