<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<div class="container">
  <table>
    <thead>
      <tr>
        <th>Support Rep</th>
        <th (click)="sort('id')" sort>Open Tickets<i class="fa fa-sort"></i></th>
      </tr>
    </thead>
    <tbody>
      <!-- <tr *ngFor="let data of supportRepData.request">
        <td>{{data.supportRep}}</td>
     //<td *ngFor="let property of row.properties">{{ data?.value}}</td> -->
      <tr *ngFor="let rep of getSupportReps() | orderby: 'openTicketsCountByRep[rep]'">
        <td>{{ rep }}</td>
        <td>{{ openTicketsCountByRep[rep] }}</td>
      </tr>

    </tbody>
  </table>
</div>