  <div class="container">
    <div class="stat-card">
      
        <h3>Open Tickets</h3>
        <p>{{ stats?.openTickets }}</p>
    
    </div>
    
      <div class="stat-card">
        <h3>Unassigned Tickets</h3>
        <p>{{ stats?.unassignedTickets }}</p>
      
    </div>
    
       <div class="stat-card">
      <h3>High Priority Open Tickets</h3>
      <p>{{ stats?.highPriorityOpenTickets }}</p>
    </div>
    
      <div class="stat-card">
        <h3>Open Change Requests</h3>
        <p>{{ stats?.openChangeRequests }}</p>
      </div>
    
  </div>